# Python
__pycache__/
*.pyc
.idea/
.vscode/

# LaTeX
*.aux
*.log
*.out
*.synctex.gz

# OS
.DS_Store

venv/
.venv/
env/

# Dataset (too large for git)
/data/

# Model checkpoints
checkpoints/
best_model.pth

